
<div class="vertical-center">
  <div class="continer">
    <div class="row">
        <app-single-item [id]="1" [routerLink]="['incrementselector/1']"></app-single-item>
        <app-single-item [id]="2" [routerLink]="['incrementselector/2']"></app-single-item>
        <app-single-item [id]="3" [routerLink]="['incrementselector/3']"></app-single-item>
    </div>
    <div class="middle row">
      <div class=" col-3 padding-top-2">
        <!-- <button type="button" class=" btn-block btn-primary buttons">PREVIOUS</button> -->
      </div>

      <div class="col-6 align-center-text"><span id="logo">Food Dispenser</span></div>
      <div class="col-3 padding-top-2">
        <!-- <button type="button" class=" btn-block btn-primary buttons ">NEXT</button> -->
      </div>

    </div>
    <div class="row  margin-bottom-20">
      <app-single-item [id]="4" [routerLink]="['incrementselector/4']"></app-single-item>
      <app-single-item [id]="5" [routerLink]="['incrementselector/5']"></app-single-item>
      <app-single-item [id]="6" [routerLink]="['incrementselector/6']"></app-single-item>
    </div>
  </div>
</div>

