
<h2 class="text-center">Choose your item!</h2>
<div class="container vertical-center">
  <div class="row">
    <div class="col-sm">
      <button [routerLink]="['incrementselector/:1']"><img style="width:100%; height:100%;" src="../../assets/img/1.jpg">Peanuts</button>
    </div>
    <div class="col-sm">
      <button [routerLink]="['incrementselector/:2']"><img style="width:100%; height:100%;" src="../../assets/img/2.jpg">Hazelnut</button>
    </div>
    <div class="col-sm">
      <button [routerLink]="['incrementselector/:3']"> <img style="width:100%; height:100%;" src="../../assets/img/3.jpg">Pistachio</button>
    </div>
  </div>
</div>
