<div *ngIf="productObservable | async as product" class="container">
  <p> How much of {{product.name}} ?</p>
  <div class="row">
    <div class="handle-counter" id="handleCounter">
      <button class="counter-minus btn btn-primary" (click)="clickHandlerMinus()">-</button>
      <input type="text" [value]="amount">
      <button class="counter-plus btn btn-primary"  (click)="clickHandlerPlus()">+</button>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-primary" (click)="goBack()">go back</button>
    <button class="btn btn-primary" (click)="sendOrder()">Order</button>
  </div>
  <div class="row">
    <p>The id is: </p>
  </div>
  <div class="row">
    <!--<img src='../../assets/img/{{id}}.jpg'> -->
  </div>
</div>
