<div *ngIf="orderObservable | async as product" class="container"></div>

<div class="container">
  <table id="userTable" class="table table-striped">
      <thead>
          <tr>
              <th>Product</th>
              <th>Product</th>
              <th>Amount</th>
              <th>Actions</th>
          </tr>
      </thead>
      <tbody id="tableContent">
        <tr *ngFor="let order of orders">
          <td>{{order.id}}</td>
          <td>{{order.productID}}</td>
          <td>{{order.amount}}</td>
          <td>
            <!--<button class="btn btn-warning" data-toggle="modal" data-target="#myModal" onclick="showEditModal(' + user.id + ')">Edit</button>-->
            <h1></h1>
            <button class="btn btn-danger" (click) = "deleteOrder(order.id)">Delete</button>
          </td>
        </tr>
      </tbody>
  </table>
</div>
