<div *ngIf="orderObservable | async" class="container">


  <div class="container">
      <div class="btn-group py-1" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" (click)="filterOrder(true, 0)">All</button>
        <button type="button" class="btn btn-secondary" (click)="filterOrder(false, 1)">1</button>
        <button type="button" class="btn btn-secondary" (click)="filterOrder(false, 2)">2</button>
        <button type="button" class="btn btn-secondary" (click)="filterOrder(false, 3)">3</button>
        <button type="button" class="btn btn-secondary" (click)="filterOrder(false, 4)">4</button>
        <button type="button" class="btn btn-secondary" (click)="filterOrder(false, 5)">5</button>
        <button type="button" class="btn btn-secondary" (click)="filterOrder(false, 6)">6</button>
      </div>
  </div>

  <div class="container">
    <!-- <button class="btn" >Filter</button> -->
    <table id="userTable" class="table table-striped">
        <thead>
            <tr>
                <th>ProductName</th>
                <th>ProductID</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Time</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody *ngIf="productService.productsReady.getValue()" id="tableContent">
          <tr *ngFor="let order of orders">
            <td>{{productService.products[order.productID - 1].name}}</td>
            <td>{{order.productID}}</td>
            <td>{{order.amount}}</td>
            <td>{{order.time | date}}</td>
            <td>{{order.time | date: 'shortTime' : 'GMT+1'}}</td>
            <td>
              <h1></h1>
              <button class="btn btn-danger" (click) = "deleteOrder(order.id)">Delete</button>
            </td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
